PORT=4002
FARMACIA_API_KEY=cambia_esta_clave_en_produccion
DB_HOST=mysql-farmacia
DB_PORT=3306
DB_USER=root
DB_PASSWORD=cambia_esta_password
DB_NAME=db_farmacia
DIAS_LIMITE_RETIRO=3
PROBABILIDAD_RECHAZO_STOCK=0.1
MAX_SOLICITUDES_CONCURRENTES=50
